# Logs
logs
*.log

# Python cache
__pycache__
*.pyc

# Other
*.uuid
*.conf
*.db
*.db-journal
*.db-shm
*.db-wal
._*
*.noload
*.txt
*.sqlite
*.xml
*.backup
life360.sh
.ip_authenticated.yaml
.config_entries.json
hass-vm-093985e5e7a0.json
*.google.token
.google.token
.homekit.state
.ios.conf
.ring_cache.pickle
.tradfri_psk.conf
.spotify-token-cache
.storage
.cloud
abodepy_cache.pickle
camera_recording.py
home-assistant.env
home-assistant.*
ip_bans.yaml
known_devices.yaml
entity_registry.yaml
secrets.yaml
google_calendars.yaml
components
deps
tts
core
html5_push_registrations.conf
www/icons
www/floorplans
downloads
icloud
dlib_faces
dlib_nofaces
dlib_known_faces
dlib_unknown_faces
OZW_Log.txt
pyozw.sqlite
zwcfg_*
zwscene.xml
*.pickle
.pc-session
pythonenv3.8/*

# ESPHome ignores
esphome/secrets.yaml
esphome/**/

# Ignore add-on files
aircast.xml
airsonos.xml
notebooks

# Ignore files created by IDE's
#.vscode
.theia
.Trash*

# Specific keeps
!.gitkeep
